.livraison
{
  background-color: #F4782F;
  height: 25rem;
  padding-top: 2em;
}

.panier .i{
  font-size: 10rem;
  position: relative;
  margin-right: 0;
}
.prev{
  font-size: 3rem;
}

.prix{
  background-color: #F4782F;
  font-size: 2rem;
}

.btn:hover{
  cursor: pointer;
  border-radius: 5rem;
  background-color: #F4782F;
  color: white;
}

.form-check{
  font-size: 1.3rem;
}
