<cas-header></cas-header>
<cas-footer></cas-footer>
<!-- {{commandes$|async|json}} -->
<div class="container mt-5">

<h1 class="text-center">Liste de mes Commandes</h1>

<div class="filtre">
  <h5>Filtre</h5>
  <!-- <input type="text" placeholder="filtre par etat" id="filtreByEtat" > -->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01">Etat</label>
    </div>
    <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="searchTerm">
      <option value="en cours">en cours</option>
      <option value="termine">termine</option>
      <option value="Disponible">disponible</option>
    </select>
  </div>
  <input type="date" placeholder="filtre par date" id="filtreByDate" [(ngModel)]="date">
</div>
<div class=" toast show d-flex justify-content-around align-items-center mt-5" style="width:100%;" role="alert" aria-live="assertive" aria-atomic="true">
    <table class="table box-shadow text-center">
      <thead class="thead-dark">
        <tr>
          <th scope="col">N° Commande</th>
          <th scope="col">Date</th>
          <th scope="col">Montant</th>
          <th scope="col">Etat</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let commande of commandes | paginate:{itemsPerPage:3,currentPage:i,totalItems:lenghTotal} | filtre:searchTerm | filtre:date">
          <th scope="row">{{commande.numeroCommande}}</th>
          <td>{{commande.dateCommande | date:'dd/MM/YYYY'}}</td>
          <td>{{commande.montantCommande}} f CFA</td>
          <td>{{commande.etat}}</td>
          <td>
            <button type="button" class="btn" data-bs-toggle="tooltip" data-bs-placement="bottom">Detail</button>
            <button type="button" class="btn" data-bs-toggle="tooltip" data-bs-placement="bottom">Annuler</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <pagination-controls class="pag" (pageChange)="i=$event"></pagination-controls>

</div>
