.btn:hover{
  background-color: #F4782F;
}

.filtre input, select{
  margin: .5rem;
  border-radius: 5rem;
  width: 8rem;
  height: 2rem;
  background-color: white;
}

.filtre input:hover{
  background-color: #F4782F;
}

select:hover{
  background-color: #F4782F;
}
