<cas-header></cas-header>
<cas-footer></cas-footer>

<h1 class="text-center">Liste de mes Commandes</h1>
<div class="container d-flex justify-content-around align-items-center mt-5">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">N° Commande</th>
          <th scope="col">Date</th>
          <th scope="col">Montant</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>
            <button type="button" class="btn" data-bs-toggle="tooltip" data-bs-placement="bottom">Detail</button>
            <button type="button" class="btn" data-bs-toggle="tooltip" data-bs-placement="bottom">Annuler</button>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div>
    <ul class="pagination">
      <li class="page-item disabled">
        <a class="page-link" href="#">&laquo;</a>
      </li>
      <li class="page-item active">
        <a class="page-link" href="#">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">4</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">5</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">&raquo;</a>
      </li>
    </ul>
  </div>
