
    <div class="con" style="--bs-bg-opacity: .5;">
      <img src="../../../../assets/images/logo.png" alt="" width="100"  class="d-inline-block align-text-top">
    </div>
  <div class="cnt-header ko">


      <ul class="nav justify-content-center">
            <li class="nav-item">
              <!-- <a class="nav-link active" aria-current="page" href="#" [routerLink]="['']" routerLinkActive="active">ACCUEIL</a> -->
            </li>


            <li class="nav-item">
              <a class="nav-link" routerLink="/produits/menus" href="#">COMMANDES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/connexion" href="#">CONNEXION</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">S'INSCRIRE</a>
            </li>
        </ul>
    </div>
