
    <div class="con">
      <!-- <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form> -->
      <img src="../../../../assets/images/logo.png" alt="" class="d-inline-block align-text-top">
    </div>

  <div class="cnt-header ko sticky-top">


      <ul class="nav justify-content-around">

        <nav class="navbar navbar-expand-lg navbar-dark">
          <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarColor02">
              <ul class="navbar-nav me-auto">
                <li class="nav-item active">
                  <a class="nav-link" routerLink="/produits">ACCUEIL</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">COMMANDES</a>

                  <div class="dropdown-menu">

                    <!-- <a class="dropdown-item" routerLink="/produits/catalogue">PRODUITS</a> -->

                    <a class="dropdown-item" routerLink="/produits/catalogue" [queryParams]="{type: 'burgers'}">BURGER</a>

                    <a class="dropdown-item" routerLink="/produits/catalogue" [queryParams]="{type: 'menus'}">MENU</a>

                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/connexion" href="#">SE CONNECTER</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">S'INSCRIRE</a>
                </li>
              </ul>
              <i class="fa-solid fa-cart-shopping panier"></i>
            </div>
          </div>
        </nav>
        </ul>
    </div>
