.component-bottom{
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.test{
    display: flex;
  }
h5{
  text-align: center;
    color: #F4782F;
}

