<div *ngIf="tailleBoissons" class="">
  <h5> {{tailleBoissons.tailleBoisson?.libelle}}({{tailleBoissons.quantite}}) {{tailleBoissons.tailleBoisson?.prix}}f CFA l'unité</h5>
    <div class="test">
        <ng-container *ngFor="let boissonTailleBoisson of tailleBoissons.tailleBoisson?.boissonTailleBoissons">
            <cas-complement [boissonTailleBoissons]="boissonTailleBoisson"></cas-complement>
        </ng-container>
    </div>
</div>
<div *ngIf="boissons" class="component-bottom">
    <cas-complement [boissons]="boissons"></cas-complement>
</div>
<div *ngIf="frites" class="component-bottom">
    <cas-complement [frites]="frites"></cas-complement>
</div>
