<!-- <div *ngIf="tailleBoissons" class="component-bottom">
    <h4> {{tailleBoissons.tailleBoisson?.libelle}} ({{tailleBoissons.quantite}})</h4>
    <div class="test">
        <ng-container *ngFor="let boissonTailleBoisson of tailleBoissons.tailleBoisson?.boissonTailleBoissons">
            <ss-card-detail [boissonTailleBoissons]="boissonTailleBoisson"></ss-card-detail>
        </ng-container>
    </div>
</div>
<div *ngIf="boissons" class="component-bottom">
    <ss-card-detail [boissons]="boissons"></ss-card-detail>
</div>
<div *ngIf="frites" class="component-bottom">
    <ss-card-detail [frites]="frites"></ss-card-detail>
</div>
 -->
