<div class="card" style="width: 9rem;">
  <ng-container *ngIf="boissonTailleBoissons">
  <div class="img-input">
      <div class="cart_counter"><cas-compter></cas-compter></div>
      <img src="data:image/png;base64,{{boissonTailleBoissons.boisson?.image}}" alt="">
      <label class="container"><input type="checkbox" ><span class="checkmark"></span></label>
  </div>

</ng-container>

<ng-container *ngIf="boissons">
  <div class="img-input">
      <div class="cart_counter"><cas-compter></cas-compter></div>
      <img src="data:image/png;base64,{{boissons.boisson?.image}}" alt="">
      <label class="container"><input type="checkbox" ><span class="checkmark"></span></label>
  </div>
</ng-container>

<ng-container *ngIf="frites">
  <div class="img-input">
      <div class="cart_counter"><cas-compter></cas-compter></div>
      <img src="data:image/png;base64,{{frites.image}}" alt="">
      <label class="container"><input type="checkbox"><span class="checkmark"></span></label>
  </div>
</ng-container>
</div>

