<div class="card" style="width: 9rem;">
  <ng-container *ngIf="boissonTailleBoisson">
  <div class="img-input">
      <div class="cart_counter"><cas-compter (sizeChange)="tailleControle($event)" [(size)]="fontSizePx" [boissonTailleBoissons]="boissonTailleBoisson"></cas-compter></div>
      <img src="data:image/png;base64,{{boissonTailleBoisson.boisson?.image}}" alt="">
      <label class="container"><input type="checkbox" ><span class="checkmark"></span></label>
  </div>

</ng-container>

<ng-container *ngIf="boissons">
  <div class="img-input">
      <div class="cart_counter"><cas-compter (sizeChange)="tailleControle($event)" [boisson]="boissons"></cas-compter></div>
      <img src="data:image/png;base64,{{boissons.boisson?.image}}" alt="">
      <label class="container"><input type="checkbox" ><span class="checkmark"></span></label>
  </div>
</ng-container>

<ng-container *ngIf="frites">
  <div class="img-input">
      <div class="cart_counter"><cas-compter [frites]="frites"></cas-compter></div>
      <img src="data:image/png;base64,{{frites.image}}" alt="">
      <label class="container"><input type="checkbox"><span class="checkmark"></span></label>
  </div>
</ng-container>
</div>

