<div class="container mt-5">
      <div class="toast show container livraison d-flex justify-content-center align-items-center" aria-atomic="true">
        <div class="form-group ">
          <h1>Connectez - vous! </h1>
         <div class="form-group">
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="name@example.com">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            <label for="floatingInput">abc@gmail.com</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>

          <div class="d-flex justify-content-around mt-5">
            <a routerLink="/inscrire">
              <button type="button" class="btn btn-pers btn-lg btn-block">
                NOUVEAU COMPTE
              </button>
            </a>
            <a routerLink="/accueil">
              <button type="button" class="btn btn-pers btn-lg btn-block">
                CONNEXION
              </button>
            </a>
          </div>
        </div>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-5">
        <img src="../../../../assets/images/logo.png" alt="" class="d-inline-block align-text-top">
      </div>
    </div>
