<!-- {{produit$|async|json}} -->
<li
    class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
    <div>
      <ng-container *ngIf="bur?.burger?.type =='burger'">
        <strong>{{bur?.burger?.nom}}</strong>
      </ng-container>
      <ng-container *ngIf="men?.menu?.type =='menu'">
        <strong>{{men?.menu?.nom}}</strong>
      </ng-container>
    </div>

    <div class="qte d-flex justify-content-center cart_counter">

      <button class="btn btn-count" (click)="dec()"
        onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
        <i class="fas fa-minus"></i>
      </button>

      <input id="form1" min="0" name="quantity" value="{{bur?.quantite}}" type="number" class="form-control" />

      <button class="btn btn-count" (click)="inc()"
        onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
        <i class="fas fa-plus"></i>
      </button>

    </div>

    <div>
      <ng-container *ngIf="men?.menu?.type =='menu'">
        <span><strong>{{getPrixMenu(bur)}}f CFA</strong></span>
      </ng-container>
      <ng-container *ngIf="bur?.burger?.type =='burger'">
        <span><strong>{{getPrixBurger(bur)}}f CFA</strong></span>
      </ng-container>
      <!-- <ng-container *ngIf="itemBoisson?.boissonTailleBoisson?.boisson">
        <span><strong>{{getPrixBoisson(itemBoisson)}}f CFA</strong></span>
      </ng-container> -->
    </div>
    <div>
      <ng-container *ngIf="bur?.burger?.type =='burger'">
        <button class="btn btn-count" (click)="delete(bur?.burger)">
          <i class="fa-solid fa-trash-can"></i>
        </button>
      </ng-container>
      <ng-container *ngIf="men?.menu?.type =='menu'">
        <button class="btn btn-count" (click)="delete(men?.menu)">
          <i class="fa-solid fa-trash-can"></i>
        </button>
      </ng-container>
    </div>

</li>
