<ng-container *ngIf="(detail$|async) !=null">
  <div class="container mb-10">
    <!-- somme à commander -->
    <div class="d-flex justify-content-around ecrit ">
      <i class="prev fa-solid fa-circle-arrow-left" [routerLink]="['/produits/catalogue']" routerLinkActive="router-link-active" ></i>
      <h3>Produits à Commander</h3>

      <ng-container *ngIf="(detail$|async)?.menu?.type=='menu'">
        <span class="prix badge">{{(detail$|async)?.menu?.prix}} f CFA</span>
      </ng-container>

      <ng-container *ngIf="(detail$|async)?.burger?.type=='burger'">
        <span class="prix badge">{{(detail$|async)?.burger?.prix}} f CFA</span>
      </ng-container>
    </div>

    <div class="container d-flex justify-content-around" >
      <!-- detail produit à commander -->
      <div class="card" style="width: 18rem; height: 25rem;">
        <!-- detail produit selectionner -->
        <div class="d-flex justify-content-center flex-wrap">
          <cas-compter></cas-compter>
          <ng-container *ngIf="(detail$|async)?.burger?.type=='burger'">
            <img src="data:image/png;base64,{{(detail$|async)?.burger?.image}}" style="max-width: 13rem;" class="card-img-top" alt="...">
          </ng-container>

          <ng-container *ngIf="(detail$|async)?.menu?.type=='menu'">
            <img src="data:image/png;base64,{{(detail$|async)?.menu?.image}}" style="max-width: 13rem;" class="card-img-top" alt="...">
          </ng-container>
        </div>

        <div class="card">
          <h3 class="card-title text-center">Description</h3>

          <ng-container *ngIf="(detail$|async)?.burger?.type=='burger'">
            <p class="card-text">{{(detail$|async)?.burger?.description}}</p>
          </ng-container>

          <ng-container *ngIf="(detail$|async)?.menu?.type=='menu'">
            <p class="card-text">nom : {{(detail$|async)?.menu?.nom}}</p>
            <p class="card-text">{{(detail$|async)?.menu?.description}}</p>
          </ng-container>
        </div>
        <button type="button" [routerLink]="['/produits/catalogue']" routerLinkActive="router-link-active"  class="btn">Ajouter autres commandes</button>
      </div>

      <!-- quelques complements du produit -->
      <div class="toast show" style="width:50%;" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <ng-container *ngIf="(detail$|async)?.menu?.type=='menu'">
              <h3 class="card-title">Compléments de {{(detail$|async)?.menu?.nom}}</h3>
            </ng-container>
            <ng-container *ngIf="(detail$|async)?.menu?.type=='burger'">
              <h3 class="card-title">Compléments de {{(detail$|async)?.burger?.nom}}</h3>
            </ng-container>
          </div>

            <!-- complement boisson -->
            <div class="card comp">
              <div class="toast-body">
                <h5>Boisson</h5>
                <div class="d-flex justify-content-center">
                      <ng-container *ngIf="(detail$|async)?.menu?.type=='menu'">
                        <div class="card-body">
                            <div class="" style="width: 10rem;" *ngFor="let tailleBoisson of (detail$|async)?.menu?.menuTailleBoissons">
                                <cas-choix-boisson [tailleBoissons]= "tailleBoisson"></cas-choix-boisson>
                            </div>
                        </div>
                      </ng-container>

                      <ng-container *ngIf="(detail$|async)?.burger?.type=='burger'">
                        <div class="card-body">
                          <div class="" style="width: 10rem;" *ngFor="let tailleBoisson of (detail$|async)?.menu?.menuTailleBoissons">
                              <cas-choix-boisson [tailleBoissons]= "tailleBoisson"></cas-choix-boisson>
                          </div>
                        </div>
                      </ng-container>
                </div>
              </div>
              <!-- <button type="button" class="btn">autres Boissons</button> -->
            </div>


          <!-- complement frites -->
            <div class="card comp">
              <div class="toast-body">
                <h5>Portion Frites</h5>
                <div class="d-flex justify-content-center">
                  <ng-container *ngIf="(detail$|async)?.menu?.type=='menu'">
                    <div class="card-body">
                      <div class="component" *ngFor="let menuPortion of (detail$|async)?.menu?.menuPortionFrites">
                          <cas-detail-menu [menuPortions]="menuPortion"></cas-detail-menu>
                      </div>
                    </div>
                  </ng-container>

                  <ng-container *ngIf="(detail$|async)?.menu?.type=='burger'">
                    <div class="card-body">
                      <div class="component" *ngFor="let menuPortion of (detail$|async)?.burger?.menuPortionFrites">
                          <cas-detail-menu [menuPortions]="menuPortion"></cas-detail-menu>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>

                <!-- <button type="button" class="btn">autres Portion Frites</button> -->
          </div>
      </div>
      <!-- detail commande -->
      <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">RECAPITULATION</div>
        <div class="card-body">

          <ng-container *ngIf="(detail$|async)?.menu?.type=='menu'">
            <h4 class="card-title">{{(detail$|async)?.menu?.nom}}</h4>
          </ng-container>

          <ng-container *ngIf="(detail$|async)?.burger?.type=='burger'">
            <h4 class="card-title">{{(detail$|async)?.burger?.nom}}</h4>
          </ng-container>

            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <button type="button" style="font-size:2rem;" class="btn">Voir Panier</button>
    </div>

    <!-- tous les complements -->
    <div class="d-flex justify-content-center">
      <div class="toast show" style="width:100%;" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <strong class="me-auto">AUTRES COMPLEMENTS</strong>
        </div>
        <div class="card comp">
            <div class="toast-body">
              <h5>Boissons</h5>
              <div class="d-flex justify-content-center">
                  <div class="component" *ngFor="let boisson of (detail$|async)?.tailleBoissons">
                    <!-- <span>{{boisson.prix}}</span> -->
                    <cas-choix-boisson [boissons]="boisson"></cas-choix-boisson>
                  </div>
              </div>
            </div>
        </div>
        <div class="card comp">
          <div class="toast-body">
            <h5>Portion Frites</h5>
            <div class="d-flex justify-content-center">
              <div *ngFor="let frite of (detail$|async)?.portionFrites">
                <cas-choix-boisson [frites]= "frite"></cas-choix-boisson>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
