 <cas-header></cas-header>
<cas-footer></cas-footer>





<!--


















<div class="content-wrapper">
  <a class="livraison" routerLink="/gestionnaire/commande/listeLivraison">
    LISTE DES LIVRAISONS
  </a>
    <div class="content">
        <h2>LISTE DES COMMANDES TERMINÉES</h2>
        <div class="panel panel-primary"  class="choice">
          <form [formGroup]="registerForm" (ngSubmit)="submitData()">
            <div class="panel-heading" (click)="panleExpanded = !panleExpanded" class="header">
              <p>ZONE 1</p>
            </div>
            <div *ngIf="panleExpanded"  class="panel-body" class="body">
              <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Numero Commande</th>
                      <th scope="col">Montant Commande</th>
                      <th scope="col">Date Commande</th>
                      <th scope="col">ACTION</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let com of commandesZones  ">
                      <td>{{com.numeroCommande}}</td>
                      <td>{{com.montantCommande}}</td>
                      <td>{{com.dateCommande | date}}</td>
                      <td >
                        <ng-container formArrayName="commandes">
                            <input formControlName="id"
                          (change)="onChange(com.id, $event)"
                          type="checkbox" value={{com.id}}>
                        </ng-container>
                      </td>
                    </tr>
                  </tbody>
                </table>
                  <select  name="livreur" id="livreur" formControlName="livreur">
                      <option value="">--choisissez un livreur--</option>
                      <ng-container *ngFor="let livreur of  livreurs">
                          <option value={{livreur.id}}>{{livreur.prenom}} {{livreur.nom}} - {{livreur.matriculeMoto}}</option>
                      </ng-container>
                  </select>
                  <button type="submit" class="btn">Valider</button>
            </div>
          </form>

        </div>
        <div class="panel panel-primary"class="choice">
            <div class="panel-heading"  (click)="panleExpanded2 = !panleExpanded2"  class="header">
                <p>ZONE 2</p>
            </div>
            <div *ngIf="panleExpanded2"  class="panel-body" class="body">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Numero Commande</th>
                        <th scope="col">Montant Commande</th>
                        <th scope="col">Date Commande</th>
                        <th scope="col">ACTION</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let com of commandesZones2  ">
                        <td>{{com.numeroCommande}}</td>
                        <td>{{com.montantCommande}}</td>
                        <td>{{com.dateCommande}}</td>
                        <td><input type="checkbox"></td>
                      </tr>
                    </tbody>
                  </table>
                  <select  name="livreur" id="livreur">
                    <option value="">--choisissez un livreur--</option>
                    <ng-container *ngFor="let livreur of  livreurs">
                        <option value={{livreur.id}}>{{livreur.prenom}} {{livreur.nom}} - {{livreur.matriculeMoto}}</option>
                    </ng-container>
                </select>
                <button class="btn">Valider</button>
            </div>
        </div>
        <div class="panel panel-primary" class="choice">
            <div class="panel-heading"  (click)="panleExpanded3 = !panleExpanded3" class="header">
                <p>ZONE 3</p>
            </div>
            <div *ngIf="panleExpanded3"  class="panel-body" class="body">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Numero Commande</th>
                        <th scope="col">Montant Commande</th>
                        <th scope="col">Date Commande</th>
                        <th scope="col">ACTION</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let com of commandesZones3  ">
                        <td>{{com.numeroCommande}}</td>
                        <td>{{com.montantCommande}}</td>
                        <td>{{com.dateCommande}}</td>
                        <td><input type="checkbox"></td>
                      </tr>
                    </tbody>
                  </table>
                  <select  name="livreur" id="livreur">
                    <option value="">--choisissez un livreur--</option>
                    <ng-container *ngFor="let livreur of  livreurs">
                        <option value={{livreur.id}}>{{livreur.prenom}} {{livreur.nom}} - {{livreur.matriculeMoto}}</option>
                    </ng-container>
                </select>
                <button class="btn">Valider</button>
            </div>
        </div>
    </div>
</div> -->
