<div class="cart_counter">
    <div class="d-flex mb-4" style="max-width: 300px">
        <button class="btn btn-count btn-primary px-3 me-2 size"
            onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
            <i class="fas fa-minus"></i>
        </button>

        <div class="form-outline">
            <input id="form1" min="0" name="quantity" value="1" type="number" class="form-control" />
        </div>

        <button class="btn btn-count btn-primary px-3 ms-2 size"
            onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
            <i class="fas fa-plus"></i>
        </button>
    </div>
</div>
