


<div class="container">

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">COMMANDES</a>
    <div class="dropdown-menu">
      <!-- <a class="dropdown-item" routerLink="/produit/catalogue" [queryParams]="{type: 'burger'}">BURGER</a> -->
      <!-- <a class="dropdown-item filtre" (click)="CatalogueFiltre('menu')">MENU</a> -->
      <!-- <a class="dropdown-item filtre" (click)="CatalogueFiltre('burger')">BURGER</a> -->
      <!-- <a class="dropdown-item" routerLink="/produit/catalogue" [queryParams]="{type: 'menu'}">MENU</a> -->

    </div>
  </li>

  <ng-container *ngIf="prod !=undefined">

      <h1 class="text-center">{{this}} à Commander</h1>

      <div class="container d-flex justify-content-around flex-wrap">
        
        <cas-card *ngFor="let produit of prod" [catalogues]="produit"></cas-card>
      
      </div>
  </ng-container>

</div>
