<cas-header></cas-header>
<cas-footer></cas-footer>


<ng-container *ngIf="items.length == 0">
  <h4>panier vide</h4>
</ng-container>


<ng-container *ngIf="items.length != 0">
  <div class="container d-flex justify-content-around align-items-center mt-5">
    <div class="col-6 panier">

      <div class="d-flex justify-content-around ecrit ">
        <i class="prev fa-solid fa-circle-arrow-left" [routerLink]="['/produits/details/menu/{{id}}']" routerLinkActive="router-link-active" ></i>
          <span class="prix badge">{{total}} CFA</span>
      </div>

      <section class="h-100 gradient-custom">

        <div class="container py-5">
          <div class="row d-flex justify-content-center my-4">

            <div class="">
              <div class="card mb-4">
                <div class="card-header py-3">
                  <h5 class="mb-0">CONTENUE DU PANIER</h5>
                </div>
                <div class="card-body form-group">
                  <ul class="list-group list-group-flush" *ngFor="let item of items; let i=index">
                    <cas-ligne [item]="item" [itemMenu]="item"></cas-ligne>
                   </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class=" d-flex col-4 flex-wrap row" style="height: 30rem;">
      <cas-livraison></cas-livraison>

      <div class="d-flex justify-content-around mt-5">
        <a routerLink="/produits">
          <button type="button" class="btn btn-pers btn-lg btn-block">
            ANNULER
          </button>
        </a>
        <a routerLink="/commande">
          <button type="button" class="btn btn-pers btn-lg btn-block">
            COMMANDER
          </button>
        </a>
      </div>
    </div>
</div>

</ng-container>
