<cas-header></cas-header>
<cas-footer></cas-footer>


<ng-container *ngIf="items.length == 0">
  <h4>panier vide</h4>
</ng-container>


<ng-container *ngIf="items.length != 0">
  <div class="container d-flex justify-content-around align-items-center mt-5">
    <div class="col-6 panier">

      <div class="d-flex justify-content-around ecrit ">
        <i class="prev fa-solid fa-circle-arrow-left" [routerLink]="['/produits/details/menu/{{id}}']" routerLinkActive="router-link-active" ></i>
          <span class="prix badge">{{total}} CFA</span>
      </div>

      <section class="h-100 gradient-custom">

        <div class="container py-5">
          <div class="row d-flex justify-content-center my-4">

            <div class="">
              <div class="card mb-4">
                <div class="card-header py-3">
                  <h5 class="mb-0">CONTENUE DU PANIER</h5>
                </div>
                <div class="card-body form-group" *ngFor="let item of items; let i=index">
                    <cas-ligne (index)="DeleteIn($event)" [item]="item" [itemMenu]="item"></cas-ligne>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class=" d-flex col-4 flex-wrap row" style="height: 30rem;">
      <div class="toast show livraison col" aria-atomic="true">
          <form [formGroup]="registerForm" (ngSubmit)="sendData()">
          <div class="form-group container">
            <label class="col-form-label col-form-label-lg" for="inputLarge">Numéro Téléphone</label>
            <input class="form-control form-control-lg input" type="text" placeholder="77 777 77 77" id="inputLarge">
          </div>

          <div class="d-flex justify-content-around">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
              <label class="form-check-label o" for="optionsRadios1">Livrable</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
              <label class="form-check-label" for="optionsRadios1">Non Livrable</label>
            </div>
          </div>

          <div class="form-group container">
            <label class="col-form-label col-form-label-lg" for="inputLarge">Zone de Livraison</label>
            <div class="form-group">

                <select name="" formControlName="zone" id="">
                  <option selected>zone</option>
                <ng-container *ngFor="let zone of zones">
                  <option value="{{zone.id}}">{{zone.libelle}}:
                    <ng-container *ngFor="let quartier of zone.quartiers">
                      {{quartier.libelle}}
                    </ng-container>
                  </option>
                  </ng-container>
                </select>
                <div *ngIf="zone.invalid && zone.touched || zone.dirty">
                  <span style="color: red;" *ngIf="zone.errors?.required">Zone obligatoire</span>
                </div>
                <!-- <fieldset>
                  <input class="form-control input" id="readOnlyInput" type="text" placeholder="Readonly input here..." readonly="true">
              </fieldset> -->
            </div>
          </div>

          <div class="form-group container">
            <label class="col-form-label col-form-label-lg" for="inputLarge">Adresse</label>
            <input class="form-control form-control-lg input" type="text" placeholder="Yeumbeul" id="inputLarge">
          </div>
        </form>
        </div>

      <div class="d-flex justify-content-around mt-5">
        <a routerLink="/produits">
          <button type="submit" class="btn btn-pers btn-lg btn-block">
            ANNULER
          </button>
        </a>
        <a routerLink="/commande">
          <button type="submit" (click)="commandeValide()" class="btn btn-pers btn-lg btn-block">
            COMMANDER
          </button>
        </a>
      </div>
    </div>
</div>

</ng-container>
