
.livraison
{
  width: 30%;
  background-color: #F4782F;
}

.panier .i{
  font-size: 10rem;
  position: relative;
  margin-right: 0;
}

.prix{
  background-color: #F4782F;
  font-size: 2rem;
}

.btn:hover{
  cursor: pointer;
  border-radius: 5rem;
  background-color: #F4782F;
  color: white;
}

.form-check{
  font-size: 1.5rem;
}

.input{
  width: 80%;
}
