<!--
<div class="content">
  <h2>AJOUTER UN MENU</h2>
  <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
              <form [formGroup]="registerForm"  enctype="multipart/form-data" (ngSubmit)="submitData()">
                <div class="row">
                      <div class="form-outline">
                          <input formControlName="nom" type="text" id="firstName" class="form-control form-control-lg" />
                          <label class="form-label" for="firstName">Nom</label>
                          <div *ngIf="nom.invalid && nom.touched
                          imageBlob.dirty">
                          <span *ngIf="imageBlob.errors?.required">L'image est obligatoire</span>
                        </div>
                    </div>
                </div>
              <div class="row">
                  <div class="form-outline">
                        <textarea formControlName="description" id="emailAddress" class="form-control form-control-lg" ></textarea>
                        <label class="form-label" for="emailAddress">Description</label>
                        <div *ngIf="description.invalid && description.touched || description.dirty">
                          <span *ngIf="description.errors?.required">La description est obligatoire</span>
                        </div>
                      </div>
              </div>
            <div class="row">
                <p>composants:</p>
              <div class="accordion" id="chapters">
                <div class="test">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="heading-1">
                        <button (click)="panleExpanded = !panleExpanded" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#chapter-1" aria-expanded="true" aria-controls="chapter-1">
                          Choisissez des burgers
                          </button>
                    </h2>
                    <div *ngIf="panleExpanded" id="chapter-1" class="accordion-collapse collapse show" aria-labelledby="heading-1" data-bs-parent="#chapters">
                        <div class="accordion-body">
                          <ng-container formArrayName="menuBurgers">
                            <ng-container *ngFor="let burgerForm of menuBurgers.controls; let i = index">
                              <ss-choix [i]="i" (remove)="deleteBurger(i)" [form]="burgerForm" [catas]="catas" ></ss-choix>
                            </ng-container>
                          </ng-container>
                        </div>
                    </div>
                </div>
                <div class="btnplus">
                  <button (click)="addBurger()" type="button" class="champ"><i class="bi bi-plus-lg"></i></button>
                  </div>
                </div>
                    <div class="test">
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-2">
                            <button (click)="panleExpanded2 = !panleExpanded2" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#chapter-2" aria-expanded="true" aria-controls="chapter-2">
                              Choisissez des boissons
                              </button>
                        </h2>
                        <div *ngIf="!panleExpanded2" id="chapter-2" class="accordion-collapse collapse show" aria-labelledby="heading-2" data-bs-parent="#chapters">
                          <div class="accordion-body">
                            <ng-container formArrayName="menuTailleBoissons">
                              <ng-container *ngFor="let TailleForm of menuTailleBoissons.controls; let i = index">
                                <ss-choix [i]="i" (remove)="deleteTaille(i)" [form]="TailleForm" [tailles]="tailles" ></ss-choix>
                              </ng-container>
                            </ng-container>

                          </div>
                        </div>

                    </div>
                    <div class="btnplus">
                      <button type="button" (click)="addTaille()" class="champ"><i class="bi bi-plus-lg"></i></button>
                    </div>
                    </div>
                    <div class="test">
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-3">
                            <button (click)="panleExpanded3 = !panleExpanded3" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#chapter-3" aria-expanded="true" aria-controls="chapter-3">
                              Choisissez des frites
                              </button>
                        </h2>
                        <div *ngIf="panleExpanded3" id="chapter-3" class="accordion-collapse collapse show" aria-labelledby="heading-3" data-bs-parent="#chapters">
                            <div class="accordion-body">
                              <ng-container formArrayName="menuPortionFrites">
                                <ng-container *ngFor="let FriteForm of menuPortionFrites.controls; let i = index" >
                                  <ss-choix (remove)="deleteFrite(i)" [i]="i" [form]="FriteForm" [frites]="frites"></ss-choix>
                                </ng-container>
                              </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="btnplus">
                      <button type="button" (click)="addFrites()" class="champ"><i class="bi bi-plus-lg"></i></button>
                    </div>
                    </div>

              </div>
            </div>
            <div class="mt-4 pt-2">
                <input class="btn btn-primary btn-lg" type="submit"  value="Submit" />
            </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
