<div class="cart_counter mb-3">
  <ng-container *ngIf="produits || boissonTailleBoissons">
    <p>{{validateNumber()}}</p>
  </ng-container>

  <div class="qte d-flex justify-content-center cart_counter">

    <ng-container *ngIf="produits">
      <button class="btn btn-count" (click)="dec()"><i class="fas fa-minus"></i></button>
        <input id="form1" min="1" (input)="testDisabled($event)" name="quantite" value="{{size}}" type="number" class="form-control" />
      <button class="btn btn-count" (click)="inc()"><i class="fas fa-plus"></i></button>
    </ng-container>

    <ng-container *ngIf="boissonTailleBoissons">
      <button class="btn btn-count" (click)="dec()"><i class="fas fa-minus"></i></button>
        <input id="form1" min="0" name="quantity" value="{{size}}" type="number" class="form-control" />
      <button class="btn btn-count" (click)="inc()"><i class="fas fa-plus"></i></button>
    </ng-container>

    <ng-container *ngIf="boisson || frites">
      <button class="btn btn-count" (click)="dec()"><i class="fas fa-minus"></i></button>
        <input id="form1" min="0" name="quantity" value="{{size}}" type="number" class="form-control" />
      <button class="btn btn-count" (click)="inc()"><i class="fas fa-plus"></i></button>
    </ng-container>
  </div>
</div>


