<div class="cart_counter mb-3">
  <div class="qte d-flex justify-content-center cart_counter">
    <button class="btn btn-count "
      onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
      <i class="fas fa-minus"></i>
    </button>

    <div class="form-outline">
      <input id="form1" min="" name="quantity" value="" type="number" class="form-control" />
    </div>

    <button class="btn btn-count"
    onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
      <i class="fas fa-plus"></i>
    </button>
  </div>
</div>
